{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-{{ messages[-1][0] }}" role="alert">
            {{ messages[-1][1] }}
        </div>
    {% endif %}
{% endwith %}


<h1>Welcome to Memory Smith!</h1>
<p>{% if 'user_id' in session %}{% else %}Please log in or sign up.{% endif %}</p>

<!-- Include the decks template at the bottom -->
 <!-- Show the decks section only if the user is logged in -->
{% if 'user_id' in session %}
    {% include 'decks.html' %}
{% endif %}
{% endblock %}
