{% extends 'base.html' %}
{% block title %}Manage Flashcards{% endblock %}
{% block content %}

<h1>Manage Flashcards for {{ deck.name }}</h1>
<div class="mt-3">
    <a href="{{ url_for('home') }}" class="btn btn-secondary" style="margin-top: 15px; margin-bottom: 15px;">Back to Decks</a>
    <a href="{{ url_for('practice_settings', deck_id=deck.id) }}" class="btn btn-success btn-m" style="margin-top: 15px; margin-bottom: 15px;">Practice</a>
</div>

<!-- Flashcard Management Section -->
<hr>
<h2>Add New Flashcard</h2>
<form method="POST">
    <div class="mb-3">
        <label for="front" class="form-label">Front</label>
        <input type="text" class="form-control" id="front" name="front" required>
    </div>
    <div class="mb-3">
        <label for="back" class="form-label">Back</label>
        <input type="text" class="form-control" id="back" name="back" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Flashcard</button>
</form>

<!-- List Flashcards -->
<hr>
<h2>Flashcards</h2>
<ul class="list-group">
    {% for flashcard in flashcards %}
    <li class="list-group-item">
        <strong>Front:</strong> {{ flashcard.front }}<br>
        <strong>Back:</strong> {{ flashcard.back }}
        <form action="{{ url_for('delete_flashcard', flashcard_id=flashcard.id) }}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>        
    </li>
    {% endfor %}
</ul>

<!-- Import/Export Section -->
<hr>
<h2>Import/Export</h2>
<form method="POST" action="{{ url_for('import_csv', deck_id=deck.id) }}" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file" class="form-label">Import Flashcards (CSV)</label>
        <input type="file" class="form-control" id="file" name="file" accept=".csv" required>
    </div>
    <button type="submit" class="btn btn-success">Import</button>
</form>
<a href="{{ url_for('export_csv', deck_id=deck.id) }}" class="btn btn-warning mt-3">Export Flashcards</a>

<!-- Form to update deck details -->
<hr>
<h2>Edit Deck Details</h2>
<form method="POST">
    <div class="mb-3">
        <label for="deck_name" class="form-label">Deck Name</label>
        <input type="text" class="form-control" id="deck_name" name="deck_name" value="{{ deck.name }}" required>
    </div>
    <div class="mb-3">
        <label for="deck_description" class="form-label">Deck Description</label>
        <textarea class="form-control" id="deck_description" name="deck_description" rows="3">{{ deck.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 70px;">Update Deck</button>
</form>

{% endblock %}
